<mat-card>
    <mat-card-title>Login</mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field class="example-full-width">
            <mat-label>Benutzername</mat-label>
            <input matInput placeholder="" formControlName="username">
          </mat-form-field>
        
          <mat-form-field class="example-full-width">
            <mat-label>Passwort</mat-label>
            <input type='password' matInput placeholder="" formControlName="password">
          </mat-form-field>

          <div *ngIf="error" class="error">{{ error }}</div>

          <div class="button">
            <button mat-raised-button color='primary' (click)="login()"><mat-icon>perm_identity</mat-icon>Login</button>
          </div>
    </form>
</mat-card>
