<div class="container">
    <h1>Punkte Übersicht</h1>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Datum </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
      
        <ng-container matColumnDef="pointsAll">
          <th mat-header-cell *matHeaderCellDef> Punkte Gesamt </th>
          <td mat-cell *matCellDef="let element"> {{element.pointsAll}} </td>
        </ng-container>

        <ng-container matColumnDef="pointsSpend">
          <th mat-header-cell *matHeaderCellDef> Punkte Ausgegeben </th>
          <td mat-cell *matCellDef="let element"> {{element.pointsSpend}} </td>
        </ng-container>

        <ng-container matColumnDef="pointsSpendEdit">
          <th mat-header-cell *matHeaderCellDef> Punkte Ausgegeben </th>
          <td mat-cell *matCellDef="let element" (click)="editPoints(element)"> {{element.pointsSpend}} <mat-icon>edit</mat-icon> </td>
        </ng-container>

        <ng-container matColumnDef="pointsCurr">
          <th mat-header-cell *matHeaderCellDef> Punkte Aktuell </th>
          <td mat-cell *matCellDef="let element"> {{element.pointsCurr}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
