<div class="container">
    <h1>Startseite</h1>
    <h2>Funktionalität</h2>
    <h3>Übersicht</h3>
    Übersicht aller Kundenbetreuer und Anzeige der aktuellen Punkte.<br>
    Zurzeit ist hier keine echte Datenbank hinterlegt. Aus diesem Grund werden jegliche Vorgänge nicht dauerhaft gespeichert. 
    <h3>Punkte</h3>
    Übersicht der Kundenbetreuer, deren Gesamtpunkte, ausgegebene Punkte und aktueller Punktzahl.
    <h3>Login</h3>
    <p>Benutzername:admin</p>
    <p>Passwort:admin</p>
    Nach dem Login muss man erst einmal auf eine andere Seite wechseln, damit man die neuen Funktionen sehen kann.
    <h4>Funktionen</h4>
    <h5>Admin-Seite</h5>
    In der Toolbar erscheint ein zusätzlicher Punkt Admin, hier können Kundenbetreuer erstellt, bearbeitet und gelöscht werden.
    <h5>Übersicht</h5>
    Hier erscheint zusätzlich ein Button, mit dem eine Bewertung für die Kundenbetreuer abegegeben werden kann.
    <h5>Punkte</h5>
    Hier kann zusätzlich die Anzahl der ausgegebenen Punkte eingestellt werden. 
</div>

